@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* global */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

:root {
    --text-white: #FFFFFF;
    --primary-color: #FF42A5;
    --second-color: #4EC5F7;
    --link-color: #3C354F;
    --text-dark-color: #0B0223;
    --text-grey-color: #534C64;

    /* transparency */
    --text-transparent-color: rgba(255, 255, 255, 0.60);
    /* linear color */
    --linear-color-1: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}




/* nav part */

/* logo */
nav {
    padding: 30px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-main {
    display: flex;
    justify-content: space-between;

}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo h2 {
    padding-left: 10px;
    font-size: 3rem;
}

.G-pink {
    color: var(--primary-color);
}

/* link */

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links p {
    margin-right: 20px;
    color: var(--link-color);
    font-size: 1rem;
    font-weight: 500;
}

.nav-links a {
    text-decoration: none;
}


.btn-nav {
    padding: 20px 20px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    border: none;

}

.btn-nav i {
    margin-left: 10px;
}



/*  banner section */

#banner {
    background-image: url(../images/bannerback.png);

    background-repeat: no-repeat;
}

.banner-main {
    display: flex;
    justify-content: space-between;
}

.banner-text h2 {
    text-transform: uppercase;
    color: var(--text-dark-color);
    text-align: center;

    font-size: 48px;

    font-weight: 600;

}

.banner-text {
    padding: 140px 0;
}

.banner-text h1 {
    background: var(--linear-color-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.9rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text p {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    padding-top: 1rem;
}

.banner-text button {
    margin-top: 40px;
    margin-right: 10px;
}

.banner-btn-primary {
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.banner-btn-second {
    background-color: var(--second-color);
    color: var(--text-white);
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 1.25rem;
}

/* banner img  */

.banner-img {
    align-items: end;
}

.banner-img img {
    margin: 0 auto;
    width: 100%;
}


/*  we are gamer section */

#we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 100px 0;
}

.we-are-gamer-container {
    display: flex;
    justify-content: space-between;
}

.gamer-text {
    text-align: end;
}

.gamer-text h3 {

    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--linear-color-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-text p {
    color: var(--text-grey-color);

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;

}

.gamer-text button {
    border-radius: 3rem;
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 30px;

}

.gamer-text h4 {
    color: var(--text-grey-color);

    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.gamer-text h2 {
    color: var(--text-grey-color);

    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


/* funny videos part */
.funny-videos-container {
    margin-bottom: 140px;
}

.funny-videos-text {
    text-align: center;
    padding: 120px 0;
}

.funny-videos-text h2 {
    color: var(--text-dark-color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-videos-text span {
    background: var(--linear-color-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-videos-text p {
    color: var(--text-grey-color);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;

}

/* card items */

.card-main {
    display: flex;
    justify-content: space-between;
}

.card-item {
    position: relative;
    width: 342px;
    height: 400px;

}

.card-item p {
    color: var(--text-grey-color);
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}

.card-item img {
    width: 342px;
    height: 400px;
    border-radius: 16px;
}

.card-item:hover .overlay {
    opacity: 1;
    transition: all 0.5s;

}





.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a2;
    border-radius: 16px;
    border: 3px solid var(--primary-color);
    opacity: 0;
    transition: all 0.5s;

}

.overlay i {
    font-size: 3rem;
    color: var(--text-white);
    align-items: center;
}

.overlay h2 {
    font-weight: 400;
    color: var(--primary-color);
    align-items: center;
}


/*  play game section */

#play-section {
    margin-top: 150px;
    margin-bottom: 200px;
}


.play-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-top: 200px;

}

.play-text {
    padding: 10px 200px;

}

.play-text h2 {


    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;


}

.play-text span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-text p {
    color: var(--text-grey-color);
    font-size: 1.2rem;
    font-weight: 400;

    padding-top: 50px;
}

.play-img {
    position: relative;
}

.play-small-img {
    position: absolute;
    top: 380px;
    left: -115px;
}


/* 2nd play  */

.play-main-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;

}

.play-text-2 {
    padding: 10px 200px;
    text-align: left;

}

.play-text-2 h2 {


    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;


}

.play-text-2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-text-2 p {
    color: var(--text-grey-color);
    font-size: 1.2rem;
    font-weight: 400;

    padding-top: 50px;
}

.play-img-2 {
    position: relative;
}

.play-small-img-2 {
    position: absolute;
    top: 380px;
    left: 500px;
}

/* careeer part */

#career {
    margin-top: 50px;
    background-color: var(--primary-color);

}

.career-main-container {
    display: flex;
    justify-content: space-between;
}

.career-text {
    margin-left: 240px;
    margin-top: 120px;
}

.career-text h2 {
    margin-bottom: 30px;
    color: var(--text-white);
    font-size: 3rem;
    font-weight: 700;

}

.career-text p {
    margin-bottom: 40px;
    color: var(--text-white);
    font-size: 1.25rem;

}

.career-btn {
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 3rem;
    border: none;
    color: var(--primary-color);
    background-color: #FFFFFF;
    font-weight: 600;
    margin-top: 40px;
}

/* nested side text  */

.career-text {
    max-width: 700px;
}

.side-text {
    display: flex;
    justify-content: space-between;
}

.left-text {

    text-align: left;
    line-height: 10px;
}

.left-text p {
    font-weight: 600;
}

.right-text {

    text-align: right;
    line-height: 10px;
}

.right-text p {
    font-weight: 600;
}





/* mini card section */

#mini-section {
    background-color: rgba(255, 66, 165, 0.03);
    padding: 130px 0;
}

.main-mini-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.mini-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border: 1px solid transparent;
    border-radius: 3rem;
    background-color: white;

}

.mini-btn:hover {
    border: 1px solid var(--primary-color);

}

.mini-btn:hover p {
    color: var(--primary-color);
}

.mini-btn img {
    padding: 10px 0 10px 10px;
}

.mini-btn p {
    padding: 0 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0B0223;
}




/* footer section */

#footer {
    background-color: #0B0223;
    padding: 130px 0;


}


.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo h2 {
    padding-left: 10px;
    font-size: 3rem;
    color: #FFFFFF;
}

.footer-links {
    text-align: center;
}

.footer-link-text {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-link-text p {
    padding: 20px 20px;
    color: #FFF;
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}




.footer-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-icons i {
    color: white;
    font-size: 2.5rem;
    margin: 50px 20px;
}


.footer-copy {

    text-align: center;
    padding: 10px 0 ;

}

.footer-policy{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap;
}

.footer-policy h5 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 20px;
    
}



.footer-copy h4 {

    color: rgba(255, 255, 255, 0.60);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




/* responsive part */
@media screen and (max-width: 576px) {
    .nav-links {
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-logo {
        flex-direction: column;
    }

    .nav-main {
        flex-direction: column;

        align-items: center;
    }

    .nav-links p {
        margin: 0 auto;
    }

    .nav-links a {

        margin: 8px auto;
    }

    .nav-links button {
        margin-top: 10px;
    }

    /* banner R */
    #banner {
        background-image: url(../images/bannerback.png);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner-main {
        flex-direction: column;
    }

    .banner-text {
        text-align: center;
        padding: 50px 0;
    }

    .banner-img {
        padding-top: 20px;
    }

    /* we are gamer part */

    .we-are-gamer-container {
        flex-direction: column;
        padding: 0 50px;
    }

    .gamer-img img {
        width: 100%;
    }

    .gamer-text {
        text-align: center;
    }

    /*  funny card videos part */

    .funny-videos-container {
        flex-direction: column;
    }

    .funny-videos-text h2,
    .funny-videos-text span {
        font-size: 3rem;
        padding: 0 10px;
    }

    .funny-videos-text p {
        font-size: 1rem;
        padding: 0 30px;
    }

    .card-main {
        flex-direction: column;
        align-items: center;
    }

    .card-item {
        margin: 50px 0;
    }

    /* play responsive mobile */

    .play-main {
        flex-direction: column;
        margin: 0 auto;
    }

    .play-main-2 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .play-text {
        padding: 10px;
        text-align: center;
    }

    .play-text-2 {
        padding: 10px;
        text-align: center;
    }

    .play-img,
    .play-img-2 {
        text-align: center;
        margin-top: 30px;
    }

    .play-img img,
    .play-img-2 img {
        width: 80%;

    }

    .play-small-img img,
    .play-small-img-2 img {
        width: 50%;
    }

    .play-small-img {

        top: 228px;
        left: -65px;
    }

    .play-small-img-2 {
        top: 228px;
        left: -65px;
    }

    /* career mobile */
    .career-main-container {
        flex-direction: column;
    }

    .career-img img {
        width: 100%;
    }

    .career-text {
        margin-left: 40px;
        margin-top: 20px;
    }

    .career-text {
        text-align: center;
        margin: 20px auto;
    }

    .career-text p {
        padding: 0 20px;
        margin-bottom: 30px;
        color: var(--text-white);
        font-size: .8rem;
        line-height: 20px;

    }

    .side-text button {
        align-items: center;
    }

    .career-text p {
        font-size: .8rem;
        line-height: 20px;
    }

}












/* tab responsive */
@media screen and (min-width: 576px) and (max-width:960px) {


    .nav-main-container {
        max-width: 95%;
    }

    .nav-logo h2 {
        font-size: 1.7rem;
    }

    .nav-links p {

        font-size: .9rem;
    }

    /* banner part */

    #banner {
        background-image: url(../images/bannerback.png);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner-main {
        flex-direction: column;
    }

    .banner-text {
        text-align: center;
    }

    .banner-img {
        padding: 50px 50px 0 50px;
    }

    .banner-img img {
        width: 100%;
        align-items: center;
    }

    /* we are gamer part */

    .we-are-gamer-container {
        flex-direction: column;
        padding: 0 100px;
    }

    .gamer-img img {
        width: 100%;
    }

    .gamer-text {
        text-align: center;
    }

    /* funny card videos tab */
    .funny-videos-container {
        flex-direction: column;
    }

    .funny-videos-text h2,
    .funny-videos-text span {
        font-size: 3rem;
        padding: 0 30px;
    }

    .funny-videos-text p {
        font-size: 1rem;
        padding: 0 40px;
    }

    .card-main {
        flex-direction: column;
        align-items: center;
    }

    .card-item {
        margin: 50px 0;
    }


    /*  play responsive tab */

    .play-main {
        flex-direction: column;
        margin: 0 auto;
    }

    .play-main-2 {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .play-text {
        padding: 20px;
        text-align: center;
    }

    .play-text-2 {
        padding: 30px;
        text-align: center;
    }

    .play-img,
    .play-img-2 {
        text-align: center;
        margin-top: 30px;
    }

    .play-img img,
    .play-img-2 img {
        width: 90%;

    }

    .play-small-img img,
    .play-small-img-2 img {
        width: 50%;
    }

    .play-small-img {
        top: 385px;
        left: -79px;
    }

    .play-small-img-2 {
        top: 385px;
        left: -79px;
    }

    /* career tab */

    /* career mobile */
    .career-main-container {
        flex-direction: column;
    }

    .career-img img {
        width: 100%;
    }

    .career-text {
        margin-left: 40px;
        margin-top: 20px;
    }

    .career-text {
        text-align: center;
        margin: 40px auto;
    }

    .career-text p {
        padding: 0 20px;
        margin-bottom: 30px;
        color: var(--text-white);
        font-size: 1rem;
        line-height: 20px;

    }

    .side-text button {
        align-items: center;
    }

    .career-text p {
        font-size: 1rem;
        line-height: 20px;
    }

}